<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Register</title>
</head>

<body>
    <h1>Register</h1>
    <form action="/IndianKart/Register" enctype="multipart/form-data" method="POST">
        <label>Your Name</label><br>
        <input type="text" name="CustomerName"><br><br>
        <label>Your Email</label><br>
        <input type="text" name="CustomerEmail"><br><br>
        <label>Your MobileNumber</label><br>
        <input type="text" name="CustomerMobile"><br><br>
        <label>Your Password</label><br>
        <input type="text" name="CustomerPassword"><br><br>
        <label>Your Profile</label><br>
        <input type="file" name="CustomerLogo"><br><br>
        <input type="submit" name="submit" value="Register">
    </form>
</body>

</html>