<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp Verification</title>
</head>
<body>
    <div class="header">
        <h1 align="center">OTP Verification</h1>
    </div>
    <div class="container">
        <form action="" method="POST">
            <input type="text" name="otp"/>
            <input type="submit" name="submit">
        </form>
    </div>
    <div class="footer"></div>
</body>
</html>